<div class="center hero-unit">
  Welcome to the UCR Marketplace! <br>
  <%= link_to "Sign up now!", new_user_path, class: "btn" %>
  or
  <%= link_to "Log in!", new_session_path, class: "btn" %>
</div>
